@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
}

.title {
	font-family: 'Rubik' !important;
	font-weight: bold;
}

.capitalized {
	text-transform: capitalize;
}

.cursor-pointer {
	cursor: pointer;
}

.border-30 {
	border-width: 30px !important;
}

.border-blue-flag {
	border-color: #3366FF !important;
}

.border-orange {
	border-color: #ff9c4a !important;
}

.border-green {
	border-color: #3e9278 !important;
}

.border-red {
	border-color: #f36861 !important;
}

.border-yellow {
	border-color: #f8d930 !important;
}

.bg-blue-flag {
	background: #3366FF !important;
}

.btn-blue-flag {
	background: #3366FF !important;
}

.text-blue-flag {
	color: #3366FF !important;
}