<title>Cadastro processual</title>
{% extends "base.html" %}
{% block conteudo %}
<div class="row justify-content-center mt-3">
    <div class="col-lg-6 col-md-8 col-sm-8">
        <div class="card shadow">
            <div class="card-title text-center">
                <h1 class="h1">Cadastre um processo</h1>
            </div>
            <div class="card-body mt-lg-2">
                <form action="/processos">
                    <div class="row g-3 text-secondary">
                        <div class="col">
                            <i class="bi bi-person-fill"></i>
                            <label for="inputName" class="form-label">Nome da requisição</label>
                            <input type="text" placeholder="Nome" name="inputName" id="inputName" class="form-control">
                        </div>
                        <div class="col">
                            <i class="bi bi-file-earmark-arrow-up-fill"></i>
                            <label for="inputName" class="form-label">Natureza da requisição</label>
                            <select class="form-select text-secondary" aria-label="Default select example">
                                <option selected>Selecionar Natureza</option>
                                <option value="desmembramento">Desmembramento</option>
                                <option value="unificacao">Unificação</option>
                            </select>
                        </div>
                    </div>
                    <hr class="mt-4">
                    <div class="row g-3 text-secondary">
                        <div class="col">
                            <i class="bi bi-house-fill"></i>
                            <label for="inputName" class="form-label">CEP do Imóvel</label>
                            <input type="text" placeholder="CEP" name="inputName" id="inputCEP" class="form-control">
                        </div>
                        <div class="col">
                            <i class="bi bi-person-fill"></i>
                            <label for="inputName" class="form-label">Número do Imóvel</label>
                            <input type="text" placeholder="Número" name="inputName" id="inputNumero"
                                class="form-control">
                        </div>
                    </div>
                    <hr class="mt-4">
                    <div class="row g-3 text-secondary">
                        <div class="col">
                            <i class="bi bi-person-fill"></i>
                            <label for="inputName" class="form-label">CPF da outra parte</label>
                            <input type="text" placeholder="CPF" placeholder="Número" name="inputName" id="inputCEP"
                                class="form-control">
                        </div>
                    </div>
                    <hr class="mt-4">
                    <div class="text-secondary">
                        <i class="bi bi-file-earmark-arrow-up-fill"></i>
                        <label for="inputName" class="form-label">Requerimento</label>
                        <input type="file" name="inputFileRequerimento" id="inputFileRequerimento"
                            class="form-control form-control-file">
                    </div>
                    <div class="d-grid gap-2 col-8 mx-auto mt-4">
                        <input type="submit" value="CONCLUÍDO"
                            class="btn btn-info text-light text-uppercase fs-5"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}