<title>Meus processos</title>
{% extends "base.html" %}
{% block conteudo %}
<div class="row g-2 mb-2 mt-3">
    {% for p in processos %}
    <div class="col-6">
        <a href="/processo/{{ p.id }}" class="text-decoration-none text-dark">
        <div class="px-2 shadow border-start border-30 border-warning">
            <div class="border-bottom">
                <h3>{{ p.nome }}</h3>
                <p>{{ p.data_inicio }}</p>
            </div>
            <p>{{ p.tipo_processo }}</p>
        </div>
        </a>
    </div>
    {% endfor %}
</div>
<a class="btn btn-info" href="/novo_processo">+</a>
{% endblock %}