<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus processos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
    {% extends "base.html" %}
    {% block conteudo %}
    <h2>Pesquisa de processos</h2>
    <div class="mb-3 text-secondary">
        <label for="search" class="form-label">Número do processo</label>
        <div class="input-group">
            <input type="text" name="search" id="search" class="form-control" placeholder="Ex: 5591/2021">
            <div class="input-group-btn">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>