    {% extends "base.html" %}
    {% block conteudo %}
    <h2 class="title">Pesquisa de processos</h2>
    <div class="mb-2 text-secondary">
        <i class="bi bi-pen"></i>
        <label for="search" class="form-label">Número do processo</label>
        <div class="input-group border border-yale rounded">
            <input type="text" name="search" id="search" class="form-control border-0" placeholder="Ex: 5591/2021">
            <div class="input-group-btn py-1">
                <button class="btn border-0 border-yale border-start rounded-0 " type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>
    {% endblock %}