<title>Login</title>
{% extends "base.html" %}
{% block conteudo %}
<div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-xs-6 col-md-8">
        <div class="card shadow">
            <div class="card-title text-center mt-4">
                <i class="bi bi-person-circle text-info" style="font-size: 100px;"></i>
            </div>
            <div class="card-body mt-lg-2">
                <form action="/login" method="POST" class="form">
                    <div class="mb-3 text-secondary">
                        <i class="bi bi-person-fill"></i>
                        <label for="inputEmail" class="form-label">Endereço de email</label>
                        <input type="email" name="inputEmail" id="inputEmail" class="form-control">
                    </div>
                    <div class="mb-3 text-secondary">
                        <i class="bi bi-lock-fill"></i>
                        <label for="inputPassword" class="form-label">Senha</label>
                        <input type="password" name="inputPassword" id="inputPassword" class="form-control">
                    </div>
                    <div class="d-flex justify-content-between form-group">
                        {% if mensagem %}
                        <div class="form-text text-danger"><i class="bi bi-exclamation-circle"></i>
                            {{mensagem}}</div>
                        {% endif %}
                        <a href="/esqueci-minha-senha" class="form-text text-decoration-none">Esqueceu a
                            senha?</a>
                    </div>
                    <div class="d-grid gap-2 col-8 mx-auto mt-lg-5">
                        <input type="submit" value="Login" class="btn btn-info text-light text-uppercase fs-5"></input>
                    </div>
                    <p class="form-text text-center">Não tem uma conta? <a href="/cadastro"
                            class="text-info text-decoration-none">Cadastre-se</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}