{% extends "base.html" %}
{% block conteudo %}
<div class="row g-2 mb-2 mt-2 justify-content-center">
    <div class="col-lg-8 col-xs-8 col-md-10 card shadow">
        <div class="card-body">
            <form action="/alterar_processo/{{processo.id}}" method="POST" class="form" enctype="multipart/form-data">
                <div class="row g-3 text-secondary d-flex flex-wrap row g-2">
                    <div class="col-xs-6 col-md-6">
                        <i class="bi bi-pencil-square"></i>
                        <label for="inputName" class="form-label">Nome da requisição</label>
                        <input type="text" placeholder="Nome" name="inputName" id="inputName" class="form-control" value="{{processo.nome}}">
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <i class="bi bi-hash"></i>
                        <label for="inputNumber" class="form-label">Número do Imóvel</label>
                        <input type="number" placeholder="Número" name="inputNumber" id="inputNumero"
                            class="form-control" value="{{processo.numero}}" readonly>
                    </div>

                    <hr class="w-100">

                    <div class="col-xs-6 col-md-6">
                        <i class="bi bi-input-cursor"></i>
                        <label for="inputKind" class="form-label">Natureza da requisição</label>
                        <input type="text" placeholder="Natureza do processo" class="form-control" value="{{processo.tipo_processo}}" readonly>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <i class="bi bi-house-fill"></i>
                        <label for="inputType" class="form-label">Tipo de imóvel</label>
                        <input type="text" placeholder="Tipo de lote" class="form-control" value="{{processo.tipo_lote}}" readonly>
                    </div>
                </div>

                <hr>

                <div class="text-secondary">
                    <i class="bi bi-file-earmark-arrow-up-fill"></i>
                    <label for="inputCopiaRG" class="form-label">Documentação</label>
                    <input type="file" class="form-control form-control-file" name="inputCopiaRG" id="inputCopiaRG">
                </div>
                <div class="text-secondary mt-4">
                    <i class="bi bi-file-earmark-arrow-up-fill"></i>
                    <label for="inputFileAnalises" class="form-label">Análises técnicas</label>
                    <input type="file" class="form-control form-control-file">
                </div>
                <div class="d-grid gap-2 col-8 mx-auto mt-4">
                    <input type="submit" value="CONCLUÍDO" class="btn btn-info text-light text-uppercase fs-5"></input>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}