{% extends "base.html" %}
{% block conteudo %}
<div class="row g-2 mb-2 mt-2 justify-content-center">
    <div class="col-lg-8 col-xs-8 col-md-10 card shadow">
        <div class="card-body">
            {% if analise %}
            <form action="/processo_analisado/{{processo.id}}" method="POST" class="form" enctype="multipart/form-data">
                {% else %}
                <form action="/alterar_processo/{{processo.id}}" method="POST" class="form"
                    enctype="multipart/form-data">
                    {% endif %}
                    <div class="row g-3 text-secondary d-flex flex-wrap row g-2">
                        <div class="col-xs-6 col-md-5">
                            <i class="bi bi-pencil-square"></i>
                            <label for="inputName" class="form-label">Nome da requisição</label>
                            <input type="text" placeholder="Nome" name="inputName" id="inputName" class="form-control"
                                value="{{processo.nome}}">
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <i class="bi bi-input-cursor"></i>
                            <label for="inputKind" class="form-label">Natureza da requisição</label>
                            <input type="text" placeholder="Natureza do processo" class="form-control"
                                value="{{processo.tipo_processo}}" readonly>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <i class="bi bi-house-fill"></i>
                            <label for="inputType" class="form-label">Tipo de imóvel</label>
                            <input type="text" placeholder="Tipo de lote" class="form-control"
                                value="{{processo.tipo_lote}}" readonly>
                        </div>

                        <hr class="w-100">

                        <div class="col-xs-6 col-md-5">
                            <i class="bi bi-signpost-split-fill"></i>
                            <label for="inputNumber" class="form-label">Nome da Rua</label>
                            <input type="text" placeholder="Rua" class="form-control" value="{{terreno.rua}}" readonly>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <i class="bi bi-house-door-fill"></i>
                            <label for="inputNumber" class="form-label">Número do Imóvel</label>
                            <input type="number" placeholder="Número" class="form-control" value="{{terreno.numero}}" readonly>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <i class="bi bi-collection-fill"></i>
                            <label for="inputNumber" class="form-label">Bairro</label>
                            <input type="text" placeholder="Bairro" class="form-control" value="{{terreno.bairro}}" readonly>
                        </div>
                        <div class="col-xs-6 col-md-5">
                            <i class="bi bi-square-half"></i>
                            <label for="inputNumber" class="form-label">Número do Lote</label>
                            <input type="text" placeholder="Lote" class="form-control" value="{{terreno.lote}}" readonly>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <i class="bi bi-square-fill"></i>
                            <label for="inputNumber" class="form-label">Número da Quadra</label>
                            <input type="number" placeholder="Quadra" class="form-control" value="{{terreno.quadra}}" readonly>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <i class="bi bi-square"></i>
                            <label for="inputNumber" class="form-label">Setor</label>
                            <input type="text" placeholder="Setor" class="form-control" value="{{terreno.setor}}" readonly>
                        </div>
                    </div>

                    <hr>

                    <div class="text-secondary">
                        <i class="bi bi-file-earmark-arrow-up-fill"></i>
                        <label for="inputCopiaRG" class="form-label">Documentação</label>
                        <br>
                        <a class="text-blue-flag cursor-pointer text-decoration-none"
                        data-bs-toggle="modal" data-bs-target="#modalPDF" onclick="setDocumento('{{ arquivo.requerimento }}')">Requerimento</a>
                        <br>
                        <a class="text-blue-flag cursor-pointer text-decoration-none"
                        data-bs-toggle="modal" data-bs-target="#modalPDF" onclick="setDocumento('{{ arquivo.copiaRG }}')">Cópia RG</a>
                        <br>
                        <a class="text-blue-flag cursor-pointer text-decoration-none"
                        data-bs-toggle="modal" data-bs-target="#modalPDF" onclick="setDocumento('{{ arquivo.copiaCPF }}')">Cópia CPF</a>
                        <br>
                        <a class="text-blue-flag cursor-pointer text-decoration-none"
                        data-bs-toggle="modal" data-bs-target="#modalPDF" onclick="setDocumento('{{ arquivo.certidaoNegativaPrefeitura }}')">Certidão Negativa Prefeitura</a>
                        <br>
                        <a class="text-blue-flag cursor-pointer text-decoration-none"
                        data-bs-toggle="modal" data-bs-target="#modalPDF" onclick="setDocumento('{{ arquivo.certidaoNegativaSAAE }}')">Certidão Negativa SAAE</a>
                        <br>
                        <a class="text-blue-flag cursor-pointer text-decoration-none"
                        data-bs-toggle="modal" data-bs-target="#modalPDF" onclick="setDocumento('{{ arquivo.tituloImovel }}')">Título do Imóvel</a>
                        <br>
                        <a class="text-blue-flag cursor-pointer text-decoration-none"
                        data-bs-toggle="modal" data-bs-target="#modalPDF" onclick="setDocumento('{{ arquivo.copiaComprovanteResidencia }}')">Comprovante de Residência</a>
                    </div>
                    <div class="text-secondary mt-4">
                        <i class="bi bi-file-earmark-arrow-up-fill"></i>
                        <label for="inputFileAnalises" class="form-label">Análises técnicas</label>
                        <br>
                        <a class="text-blue-flag cursor-pointer text-decoration-none"
                        data-bs-toggle="modal" data-bs-target="#modalPDF" onclick="setDocumento('{{ arquivo.projetoArt }}')">Projeto ART/RRT</a>
                    </div>
                    {% if analise %}
                    <h1 class="title">Análise do processo</h1>

                    <div class="text-secondary">
                        <i class="bi bi-file-earmark-arrow-up-fill"></i>
                        <label for="checkboxRequerimento" class="form-label">Requerimento</label>
                        <input type="checkbox" name="checkBoxRequerimento" checked>
                        <!-- <input name="checkboxRequerimento" type="checkbox" value="1"> -->
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="checkBoxCNDPrefeitura" id="checkBoxCNDPrefeitura1" value="1">
                        <label class="form-check-label" for="checkBoxCNDPrefeitura1">Correto</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="checkBoxCNDPrefeitura" id="checkBoxCNDPrefeitura2" value="0">
                        <label class="form-check-label" for="checkBoxCNDPrefeitura2">Incorreto</label>
                      </div>
                    <!-- <div class="text-secondary">
                        <i class="bi bi-file-earmark-arrow-up-fill"></i>
                        <label for="checkboxCNDPrefeitura" class="form-label">Certidão Negativa Prefeitura</label>
                        <input type="checkbox" name="checkboxCNDPrefeitura"> -->
                    </div>
                    <div class="text-secondary">
                        <i class="bi bi-file-earmark-arrow-up-fill"></i>
                        <label for="checkboxCNDSAAE" class="form-label">Certidão Negativa SAAE</label>
                        <input type="checkbox" name="checkboxCNDSAAE">
                    </div>
                    <div class="text-secondary">
                        <i class="bi bi-file-earmark-arrow-up-fill"></i>
                        <label for="checkboxTituloImovel" class="form-label">Título do Imóvel</label>
                        <input type="checkbox" name="checkboxTituloImovel">
                    </div>
                    <div class="text-secondary">
                        <i class="bi bi-file-earmark-arrow-up-fill"></i>
                        <label for="checkboxDocumentacaoEmpresa" class="form-label">Documentação da Empresa</label>
                        <input type="checkbox" name="checkboxDocumentacaoEmpresa">
                    </div>
                    <div class="text-secondary">
                        <i class="bi bi-pen-fill"></i>
                        <label for="checkboxDocumentacaoEmpresa" class="form-label">Parecer</label>
                        <textarea class="form-control" aria-label="With textarea" name="inputParecer"></textarea>
                    </div>
                    <div class="d-grid gap-2 col-8 mx-auto mt-4">
                        <input type="button" id="aprovar" onclick="status_processo(3)" value="Aprovar"
                            class="btn btn-success text-light text-uppercase fs-5"></input>
                        <input type="button" id="devolver" onclick="status_processo(5)" value="Devolver"
                            class="btn btn-danger text-light text-uppercase fs-5"></input>
                    </div>
                    {% else %}
                    <div class="d-grid gap-2 col-8 mx-auto mt-4">
                        <input type="submit" value="CONCLUÍDO"
                            class="btn btn-blue-flag text-uppercase fs-5 text-light"></input>
                    </div>
                    {% endif %}
                </form>
        </div>
    </div>
</div>




<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="modalPDF" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="ratio ratio-4x3 mb-2">
            <iframe id="pdf" src="/processo/{{id_processo}}/arquivos/"></iframe>
            <!-- /processo/11/arquivos/Reuniao_16_04_2021.pdf -->
            <!-- Reunião 16_04_2021.pdf -->
            <!-- /processo/11/arquivos/carteira-trabalho.pdf -->
            <!-- carteira-trabalho.pdf  -->
        </div>
    </div>
  </div>
</div>

<script>
    let status = 0;
    var a = "";

    function setDocumento(id){
        a = id
        document.getElementById('pdf').src='/processo/{{id_processo}}/arquivos/'+a
    }

    function status_processo(id) {
        status = id
        let url = "/processo_analisado/{{processo.id}}/" + status
        window.location.href = url
    }
</script>
{% endblock %}